<!-- <div id="home-header" class="jumbotron">
  <greeting name="home.name"></greeting>
</div>

<button class="btn btn-primary" ng-click="home.changeName()">Change</button>
<button class="btn btn-danger" ng-click="home.randomName()">Random</button> -->

<section id="top">
  <img src="/img/igniter-logo-white.png">
</section>

<section class="container">slideview
<carousel></carousel>
</section>
<section id="slanted">slanted
  <div class="row">
    <div ng-repeat="page in pages as pagetile"></div>
  </div>
  <div class="row">
    <div>
      <p>Lorem ipsum dolor sit amet, ac dis arcu libero, pulvinar vitae lectus cursus. Purus libero amet, at dui, tincidunt nunc vestibulum in justo, a faucibus ipsum hendrerit semper ipsum ac.
    </p>
  </div>


</section>
<section id="percentages"> percentages
</section>
<section id="images">
  <h2>LOREM IPSUM<h2>
  <div class="row description-block">
    <description class="col" >description</description>
    <img class="col" src="/img/img1.jpg" alt="Using Phone" width='705px' height='350px'>
  </div>
  <div class="row description-block">
    <img class="col" src="/img/img2.jpg" alt="Compuer Screen" width='705px' height='350px'>
    <description>description</description>
  </div>
</section>
