body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  width:auto;
}

h2 {
  font-family: Roboto-Regular;
  font-size: 28px;
  color: #F36819;
}

h3 {
  font-family: 20px;
  letter-spacing: 2px;
  color:#F7931D;
}

p{
  font-family: Roboto-Regular;
  font-size: 14px;
  line-height: 20px;
  color: black;
}

description {
  text-align: left;
}

.percentage-text {
  font-family: Roboto-Bold;
  font-size: 55px;
  letter-spacing: 2px;
}

.hero-image-text {
   font-family: 'Robot-Bold';
   font-size: 48px;
}
.lorem {
  font-family: Roboto-Bold;
  font-size: 28px;
  color: #F36819;
}

.ipsum {
  font-family: Roboto-Regular;
  font-size: 28px;
  color: #283647;
}



#top {
  background:#1676DD;
  height: 60px;
}
#top img {
  height: 52px;
  text-align: center;
  padding-top: 5px;
}

#myCarousel {
  height:550px;
}

#slanted {
  background-image: url(/img/slanted-gradient-background.svg);
}

#percentages {

}

#images {

}

.row{
  display: flex;
}

.col{
  flex: 1; /* additionally, equal width */

  padding: 1em;
}




/*<section id="top-section">top section
<section>
<section id="slide">slideview
<section>
<section id="slanted">slanted
</section>
<section id="percentages"> percentages
</section>
<section id="images">
</section>*/
